/* Lane styles */
.lanesContainer{
	display: flex;
	justify-content: space-around;
}

.laneContainer{
	display: flex;
	flex-direction: column;
	background-color: grey;
	padding: 30px 100px;
	height: 60vh;
}